<div class="home-headline">
  <h1>Log In</h1>
</div>

<div id="login">

  <%= form_tag '/sessions', method: :post do %>

    <span class="game"><%= label_tag :username %>: </span>
    <%= text_field_tag :username %>
    <br>
    <br>
    <span class="game"><%= label_tag :password %>: </span>
    <%= text_field_tag :password %>
    <br>
    <br>
    <%= submit_tag "Log In"%>

  <% end %>
</div>
