<div class="container content">
  <div class="column is-half is-offset-one-quarter">
<!-- Log in page header -->
    <article id="login-welcome">
      <h1>Game Of Fitness</h1>
    </article>
<!-- Log in page form  -->
    <article id="login">
      <h2>Log In</h2>

      <%= form_tag '/sessions', :class =>"control", method: :post do %>
        <span class="game"><%= label_tag :username %>: </span>
        <%= text_field_tag :username %>
        <br>
        <br>
        <span class="game"><%= label_tag :password %>: </span>
        <%= text_field_tag :password %>
        <br>
        <br>
        <%= submit_tag "Log In", :class =>"button" %>
      <% end %>
      
    </article>
  </div>
</div>
