<div class="column is-half is-offset-one-quarter">
  <article id="welcome">
    <h1>Game Of Fitness</h1>
  </article>

<article id="login">
  <h2>Register New User</h2>
<%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :class %>
  <%= f.text_field :class %>

  <%= f.label :guild %>
  <%= f.text_field :guild %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>
<% end %>

</article>
</div>
