<div class="column is-half is-offset-one-quarter">
  <article id="welcome">
    <h1>Game Of Fitness</h1>
  </article>

<article id="login">
  <h2>Register New User</h2>

<%= form_for @user, :html => {:class => "control"} do |f| %>

  <%= f.label :username, :class => "label" %>
  <%= f.text_field :username, :class => "input"  %>

  <%= f.label :email, :class => "label" %>
  <%= f.text_field :email, :class => "input" %>

  <%= f.label :class, :class => "label" %>
  <%= f.select(:race, ['Elf', 'Orc', 'Paladin', 'Jedi', 'Barbarian'], {}, { :class => "select is-medium !important" }) %>

  <%= f.label :guild, :class => "label" %>
  <%= f.text_field :guild, :class => "input"  %>

  <%= f.label :password, :class => "label" %>
  <%= f.password_field :password, :class => "input" %>

  <%= f.label :password_confirmation, :class => "label" %>
  <%= f.password_field :password_confirmation, :class => "input" %>
  <br>
  <br>
  <%= f.submit 'Create!', :class => 'control button'%>
<% end %>

</article>
</div>
