
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article id="login-welcome" class="tile is-child content">
          <h1>Welcome Back <%= @user.username %> </h1>
          <%= button_to "Log Out", deletion_station_path, method: :delete, :class =>"button"  %>
        </article>
        <article id="avatar-box" class="tile is-child">
            <%= image_tag("elf-avatar-female.jpg", :id => "avatar") %>
        </article>
      </div>
      <div id="stats" class="tile is-parent">
        <article class="tile is-child">
          <p class="content is-medium"><span class="game">Name:</span> <%= @user.username %></p>
          <p class="content is-medium"><span class="game">Class:</span> <%= @user.race %></p>
          <p class="content is-medium"><span class="game">Guild:</span> <%= @user.guild %></p>
          <p class="content is-medium"><span class="game">Mana:</span> <%= @user.mana %></p>
          <p class="content is-medium"><span class="game">Boss Battle In:</span> <%= @user.mana %> 900 <span class="game"> Mana</span></p>
        </article>
      </div>
    </div>
    <div id="rules" class="tile is-parent">
      <article class="tile is-child">
        <!-- Any content you want here -->
        <h4>Game Rules</h4>
        <p class="content is-medium">Click on the WOD button below to begin today's workout. Each WOD consists of 52 cards - the size of a standard playing card deck. Click Shuffle to randomize your workout.</p>
        <p class="content is-medium">Each card you complete earns you mana points (for example: a card requiring 2 reps earns you 2 mana; one requiring 25 reps earns you 25 mana) and each completed round earns you inventory.</p>
        <p class="content is-medium">The more mana you get; the quicker you'll earn a boss battle level - the more inventory you accrue; and the better you'll do.  </p>
        <p class="content is-medium">Ready? Let's kick some ass today.</p>

        <div class="control is-grouped">

          <p class="control" ng-controller="WorkoutsController">
            <a href="/game/index.html" ng-click="shuffle()" class="button">
            WOD
            </a>
          </p>
          <p class="control">
            <a class="button is-disabled">
            Boss Battle
            </a>
          </p>
        </div>

      </article>
    </div>
  </div>
  <div id="bag-of-holding" class="tile is-parent">
    <article class="tile is-child">

      <h4>INVENTORY</h4>
      <div class="columns">
        <div class="column is-centered">
          <div class="loot-box one"><%= @user.loot %></div>
          <div class="loot-box two"><%= @user.loot %></div>
          <div class="loot-box three"><%= @user.loot %></div>
          <div class="loot-box four"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
        </div>
        <div class="column is-centered">
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
        </div>
        <div class="column is-centered">
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
          <div class="loot-box"><%= @user.loot %></div>
        </div>
      </div>




    </article>
  </div>
</div>
